{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>

        <a href="{% url 'registrar_visitante' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="text">Registrar visitante</span>

            <span class="icon text-white-50">
                <i class="fas fa-user-plus"></i>
            </span>
        </a>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Visitantes aguardando autorização</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitantes_aguardando }}</div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitantes no condomínio</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitantes_em_visita }}</div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Visitas finalizadas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitantes_finalizado }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitantes no mês</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ visitantes_mes }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Lista de visitantes</h6>

            <div class="text-right">
                {% if visitantes_filter.data %}
                    <a href="{% url 'index' %}" class="btn btn-secondary btn-icon-split btn-sm">
                        <span class="text">Resetar filtros</span>

                        <span class="icon text-white-50">
                            <i class="fas fa-eraser"></i>
                        </span>
                    </a>
                {% endif %}

                <a data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="#collapseFilter" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="text">Filtrar visitantes</span>

                    <span class="icon text-white-50">
                        <i class="fas fa-filter"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <p class="mr-2 text-right">
                <small>
                    Exibindo {{ pagina_obj.paginator.count }} registros
                </small>
            </p>

            <div id="collapseFilter" class="collapse mb-4">
                <div class="card card-body">
                    <h5 class="mb-3 text-primary">
                        Filtrar visitantes
                    </h5>
        
                    <p class="mb-4">
                        <small>
                            Filtre visitantes por nome, CPF, status ou x preenchendo os campos abaixo com a informação desejada
                        </small>
                    </p>

                    <form class="form-row">
                        {% for field in visitantes_filter.form %}
                            <div class="form-group col-md-3">
                                <label>{{ field.label }}</label>
                                {% render_field field placeholder=field.label class="form-control form-control-sm" %}
                            </div>
                        {% endfor %}

                        <div class="col-md-12 text-right">                            
                            <a data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="#collapseFilter" class="btn btn-secondary btn-sm text-white">
                                <span class="text">Cancelar</span>
                            </a>

                            <button class="btn btn-primary btn-sm" type="submit">
                                <span class="text">Filtrar</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Horário de chegada</th>
                        <th>Horário da autorização</th>
                        <th>Autorizado por</th>
                        <th>Status</th>
                        <th>Mais informações</th>
                    </thead>

                    <tbody>
                        {% for visitante in pagina_obj %}
                            <tr>
                                <td>{{ visitante.nome_completo }}</td>
                                <td>{{ visitante.get_cpf }}</td>
                                <td>{{ visitante.horario_chegada }}</td>
                                <td>{{ visitante.get_horario_autorizacao }}</td>
                                <td>{{ visitante.get_morador_responsavel }}</td>
                                <td>{{ visitante.get_status_display }}</td>
                                <td>
                                    <a href="{% url 'informacoes_visitante' id=visitante.id %}">
                                        Ver informações
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example">
                <p class="mr-2 text-right">
                    <small>
                        Página {{ pagina_obj.number }} de um total de {{ pagina_obj.paginator.num_pages }}
                    </small>
                </p>

                <ul class="pagination justify-content-end">
                    {% if pagina_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagina_obj.previous_page_number }}" tabindex="-1">Página anterior</a>
                        </li>
                    {% endif %}

                    {% for numero_pagina in pagina_obj.paginator.page_range %}
                        {% if pagina_obj.number == numero_pagina %}
                            <li class="page-item active">
                                <a class="page-link" href="">{{ numero_pagina }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ numero_pagina }}">{{ numero_pagina }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if pagina_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagina_obj.next_page_number }}">Próxima página</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock conteudo %}