{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registrar visitante</h6>
        </div>
        
        <div class="card-body">
            <div class="container">
                <form method="POST" class="user">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field | add_class:"form-control" }}
                        </div>
                    {% endfor %}

                    <div class="text-right">
                        <button class="btn btn-primary btn-sm" type="submit">
                            <span class="text">Registrar visitante</span>
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}